#root {
  margin: 0 auto;
  text-align: center;
  background-color: black;
}
body,
html {
  background-color: black;
}

.splash-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.splash-screen-app-logo {
  width: 35vw;
}
.splash-screen-company-logo {
  width: 15vw;
}
.splash-screen-company-logo-container {
  position: absolute;
  bottom: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}
