#root {
  text-align: center;
  background-color: black;
}
body,
html {
  background-color: black;
}

.splash-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.splash-screen-app-logo {
  width: 35vw;
}
.splash-screen-company-logo {
  width: 20vw;
}
.splash-screen-company-logo-container {
  position: absolute;
  bottom: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.sign-in-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background-color: black;
}
.onboarding-name-collection-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  padding-left: 3vh;
  padding-right: 3vh;
}
.onboarding-name-collection-input {
  width: 80vw;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  align-self: flex-start;
}

.onboarding-hostel-collection-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  padding-left: 3vh;
  padding-right: 3vh;
}
